<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!--屏幕打印消息-->
    <target name="console" xsi:type="ColoredConsole"
            layout="${date:format=HH\:mm\:ss}> ${message}"/>

    <!--保存至文件-->
    <target name="log_file" xsi:type="File" maxArchiveFiles="30"
            fileName="${basedir}\Log\log_${shortdate}.log"
            layout="[${level:uppercase=false:padding=-5}] ${longdate} ${machinename} ${message} ${exception:format=tostring} ${stacktrace}${newline}" />
  </targets>
  <rules>
    <!--将所有的日志都输出到控制台-->
    <logger name="*" writeTo="console" />
    <!--将所有的日志输出到log_file当中-->
    <logger name="*" writeTo="log_file" />
  </rules>
  <!--layout属性可参考：https://blog.csdn.net/u013667895/article/details/79016059-->
</nlog>